div.card{
	border: 1px solid gray;
	height: 200px;
}

div.card .card_top{
	text-align: right;
	height: 15px;
}


div.card .card_view{
	font-size:16px;
	text-align: center;
	vertical-align: middle;
	height: 185px;

}
div.card .card_bot{
	text-align:left;
	float: left;
	height: 15px;
	width:50%;
}

span.card-filter, div.card-exp{
	background-color: #eee;
}


